body{
    background-color: rgb(176, 250, 250);
}
header{
    text-align: center;
    font: normal 30pt sans-serif;
}
footer{
    padding: 20px;
    text-align: center;
    font-size: small;
}
section{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
div#box{
    background-color: white;
    border-radius: 10%;
    width: 700px;
    height: 500px;
}
